/* src/App.css */
body {
  font-family: Arial, sans-serif;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 4;
  }
}
.headding{
  color:white;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 62px;

}

.top{
 
  color:#eae3e3;
  text-align: center;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40;
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav a {
  color:white;
  text-decoration: none;
  font-size: 22px;
  
  border-radius: 2px;
  padding: 6px;
  
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style:bold ;
  

}
.nav a:hover {
 
  color: #53d788;
}





.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 5px;
  background-color: gray;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  height: 48px;

}
.top-image{
  display: flex;
  align-items: center;
  padding: 60px 70px;
}
.logo{
 
  height: 50px;
  margin-right: 15px;
  max-width: 80px;
}
.nav{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.nav-list{
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.nav-item{
  text-decoration: none;
  color: green;
  font-weight: bold;
}

.top-name{
  font-size: 30px;
  color:gold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}


.discover-button {
  background-color: gold; /* Green background */
  border: 6px; /* Remove borders */
  color: #0b0000; /* White text */
  padding: 15px 20px; /* Add some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Get the element to align properly */
  font-size: 16px; /* Increase font size */
  margin: 2px 2px; /* Add some margin */
  cursor: pointer; /* Add a pointer on hover */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for hover */
  font-size: bold;
  
}
.discover-button a {
  text-decoration: none; /* Remove underline from link */
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  color: #0b0000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 21px;
}

.discover-button:hover {
  background-color: #a06845; /* Darker green on hover */
  
}
.sign-button{
  background-color: gold; /* Green background */
  border: 10px; /* Remove borders */
  color: black; /* White text */
  padding: 15px 20px; /* Add some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Get the element to align properly */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Add some margin */
  cursor: pointer; /* Add a pointer on hover */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s ease;
  justify-content: center;
  align-items: center;
  font-size: bold;
}
.sign-button a {
  text-decoration: none; /* Remove underline from link */
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  color: #0b0000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 21px;
}


.sign-button:hover {
  background-color: #a06845; 
}
.button-contain {

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  
}









