.fcontainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    width: 23%;
  }
  
  .logo-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .logo {
    width: 60px; /* Adjust according to your logo size */
  }
  
  .footer-section h2, .footer-section h3 {
    margin: 0 0 10px 0;
    color: #fff;
  }
  
  .footer-section p, .footer-section ul, .footer-section address, .footer-section a {
    margin: 0;
    color: #b3b3b3;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section a {
    color: #b3b3b3;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  address {
    font-style: normal;
  }
  
  
    